.main__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0 1.875rem;
  max-width: 82.125rem;
  padding: 0 1.875rem;
  margin: 0 auto;
}

@media screen and (max-width: 991px) {
  .main__wrapper {
    padding: 0 0.9375rem;
  }
}
